<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Your existing permissions -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- ==================================================================== -->
    <!-- ============= NEW PERMISSION FOR IN-APP UPDATES ==================== -->
    <!-- ==================================================================== -->
    <!-- This permission is required to ask the user to install the downloaded APK -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- ==================================================================== -->
    <!-- ======================= END OF NEW BLOCK =========================== -->
    <!-- ==================================================================== -->


    <application
        android:name=".GanitaBigyanApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GanitaBigyan"
        tools:targetApi="31">

        <activity
            android:name=".CrashActivity"
            android:exported="false"
            android:label="Crash Report"
            android:theme="@style/Theme.GanitaBigyan" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.GanitaBigyan">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" />
                <data android:host="ganitabingya.netlify.app" />
                <data android:path="/open" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:pathPattern=".*\\.gba" />
                <data android:host="*" />
            </intent-filter>
        </activity>

        <!-- ==================================================================== -->
        <!-- =========== NEW COMPONENTS FOR IN-APP UPDATES ====================== -->
        <!-- ==================================================================== -->

        <!-- 1. FILE PROVIDER -->
        <!-- This securely shares the downloaded APK with the system installer. -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- 2. DOWNLOAD COMPLETED RECEIVER -->
        <!-- This listens for when the download is finished and starts the installation. -->
        <receiver
            android:name=".DownloadCompletedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.app.DownloadManager.ACTION_DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>

        <!-- ==================================================================== -->
        <!-- ======================= END OF NEW BLOCK =========================== -->
        <!-- ==================================================================== -->

    </application>
</manifest>